{% load static %}
<!-- ? New Product Start -->
        <section class="new-product-area section-padding30">
            <div class="container">
                <!-- Section tittle -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section-tittle mb-70">
                            <h2>Ailemize Katılan Yeni Araçlarımız</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for rs in lastcars %}
                    <div class="col-xl-4 col-lg-4 col-md-3 col-sm-3">
                        <div class="single-new-pro mb-30 text-center">
                            <div class="product-img">
                                <img src="{{ rs.image.url }}" alt="">
                                <div class="product-caption">
                                    <h3><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{rs.title}}</a></h3>
                                    <span>
                                        <div class="hero__btn">
                                            <a href="/car/{{ rs.id }}/{{ rs.slug }}" class="btn hero-btn">Araç Detayına Git</a>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--? Watch Choice  Start-->
        <div class="watch-area section-padding30">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6 col-sm-10">
                        <div class="choice-watch-img mb-40">
                            <img src="{% static 'img/hakkimizda.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="watch-details mb-40">
                            <h2>Rent a Car</h2>
                            <p>Tabuları yıkıyoruz, çizginin dışına çıkıyoruz!
                                Çalışmalarımızda, planlarımızda ve süreçlerimizde sıradanlığın ötesine geçiyoruz. Böylece en iyi teknolojileri
                                en iyi çözümlerle entegre edebiliyor, misafir deneyimini en üst düzeye çıkarma hedefimizi sürekli yükseltiyoruz.
                                Bu istek ve çalışma prensibi ile sektörün öncüsü olmayı başarırken, adımızı üst sıralara yazdırmış bulunuyoruz.
                                Biz dereceler ile yetinemiyoruz, fark yaratmak istiyoruz!
                            </p>
                            <a href="/hakkimizda" class="btn">Daha Fazlası..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Watch Choice  End-->
        <!--? Shop Method Start-->
        <div class="shop-method-area">
            <div class="container">
                <div class="method-wrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-package"></i>
                                <h6>En İyi Fiyat Garantisi</h6>
                                <p>Size en iyi fiyatları sağlayabilmek için büyük veri teknolojisini kullanıyoruz.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-car"></i>
                                <h6>Binlerce marka model</h6>
                                <p>60’tan fazla şehirde yüzlerce firmanın tüm araçlarını tek sitede sunuyoruz.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-method mb-40">
                                <i class="ti-reload"></i>
                                <h6>Ödüllü misafir hizmetleri</h6>
                                <p>Ücretsiz iptal ve değişiklik imkânı ile %100 garantili hizmet sağlıyoruz.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Method End-->