    {% load static %}
<!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/logo/logoo.png'%}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="{% static 'img/logo/logoo.png' %}" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="/">Anasayfa</a></li>
                                    <li><a href="/allcars">Araçlarımız</a>
                                        {% load mptt_tags %}
                                        <ul class="submenu">
                                            {% recursetree category %}
                                                <li>
                                                <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                            {% endrecursetree %}
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                                    <li><a href="/iletisim">İletişim</a></li>
                                    <li><a href="/referanslar">Referanslar</a></li>
                                    <li>
                                        <div class="nav-search header-right">
                                            <form action="/search/" method="post">
                                                {% csrf_token %}
                                            <input name="query" class="input search-input" type="text" placeholder="Rent Car' da Ara..." >
                                                <button class="search-btn"> <i class="fa fa-search"></i> </button>
                                            </form>
                                        </div>
                                    </li>
                                    <li>
                                    {% if user.id is not None  %}
                                        <span class="flaticon-user"><strong class="text-uppercase">{{user.first_name}}</strong></span>
                                        <ul class="submenu">
                                            <li><a href="/user" style="color: black"><i class="fa fa-user-o"></i> Hesabım</a></li>
                                            <li><a href="/user/reservations" style="color: black"><i class="fa fa-exchange"></i> Rezervasyonlarım</a></li>
                                            <li><a href="#" style="color: black"><i class="fa fa-commenting-o"></i> SSS</a></li>
                                            <li><a href="/logout/" style="color: black"><i class="fa fa-unlock-alt"></i> Logout</a></li>
                                        </ul>
                                    {% else %}
                                        <div class="row"><a href="/login/" style="color: black">Giriş Yap</a><a href="/signup/" style="color: black">Üye ol</a></div>
                                    {% endif %}
                                </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-ri">
                            <ul>
                                <div class="row">
                                    <div class="d-lg-table-row"></div>
                                </div>

                                <!-- <li><a href="cart.html"><span class="flaticon-shopping-cart"></span></a> </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <!-- Header End -->
