        <!--? slider Area Start -->
        {% load static %}
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center slide-bg">
                    <div class="container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Araç kiralamak ne kolaymış!</h1>
                                    <p data-animation="fadeInLeft" data-delay=".7s" data-duration="2000ms">İdeal Aracınızı Karşılaştırarak, En İyi Fiyata Kiralayın!</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="9000ms">
                                        <div class="section-center">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="booking-form">
                                                        <form>
                                                            <div class="row no-margin">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <span class="form-label">Nereden Alacaksınız?</span>
                                                                        <input class="form-control" type="text" placeholder="Country, ZIP, city...">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <div class="row no-margin">
                                                                        <div class="col-md-5">
                                                                            <div class="form-group">
                                                                                <span class="form-label">Alış Tarihi</span>
                                                                                <input class="form-control" type="date" required="">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5">
                                                                            <div class="form-group">
                                                                                <span class="form-label">İade Tarihi</span>
                                                                                <input class="form-control" type="date" required="">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="2000ms">
                                                                <a href="industries.html" class="btn hero-btn">Ara</a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                                <div class="hero__img" data-animation="bounceIn" data-delay=".4s">
                                    <img src="{% static  'img/back.jpg' %}" alt="" class=" heartbeat">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- slider Area End-->
