{% extends "homebase.html" %}

{% block title %}{{setting.title }}{% endblock %}
{% block keywords %}{{setting.keywords }}{% endblock %}
{% block description %}{{setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block header %}{% include "header.html" %}{% endblock %}

{% block content %}
          <!--================Cart Area =================-->
      <section class="cart_area section_padding">
        <div class="container">
          <div class="cart_inner">
              <h3 class="mb-30">Rezervasyon Oluştur</h3>
                <div class="section-top-border">
					<div class="row">
						<div class="col-lg-8 col-md-8">
                            <div class="col-lg-4 col-md-4">
                                <div class="d-flex">
                                    <img src="{{ car.image.url }}" alt="" style="height: 400px"/>
                                </div>
                            </div>
							<form action="/car/add/{{ car.id }}" method="post" role="form">
                                {% csrf_token %}
								<div class="mt-10">
									<input type="text" name="user" value="{{user}}" class="single-input">
								</div>
                                <div class="mt-10">
									<input type="text" name="name" value="{{user.first_name }} {{ user.last_name }}" class="single-input">
								</div>
								<div class="mt-10">
									<input type="text" name="email" value="{{ user.email }}" placeholder="Email" class="single-input">
								</div>
								<div class="mt-10">
									<input type="text" name="phone" placeholder="Telefon"  class="single-input">
								</div>
								<div class="mt-10">
									<input type="text" name="location" placeholder="Konum"  class="single-input">
								</div>
                                <div class="mt-10">
									<input type="date" name="checkin"  placeholder="Alış Tarihi"  class="single-input-primary">
								</div>
								<div class="mt-10">
									<input type="date" name="checkout" placeholder="İade Tarihi"	 class="single-input-primary">
								</div>
                                <div class="mt-10">
									<input type="number" name="days" placeholder="Gün Sayısı"	 class="single-input-primary">
								</div>
								<div class="mt-10">
									<input type="text" name="price" value=" Günlük Fiyatı: {{ car.price }}" placeholder="Günlük Fiyat" class="single-input-accent">
								</div>
								<div class="mt-20"></div>
                                <div class="mt-20"></div>
                                <div class="bottom_button">
                                    {% if user.id is not None %}
                                        <button class="btn hero-btn" type="submit">Rezervasyon Yap</button>
                                    {% else %}
                                        <a href="/login/" >Rezervasyon İçin Giriş Yapınız!</a>
                                    {% endif %}
                                </div>
							</form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </section>


{% endblock %}