{% extends "homebase.html" %}

{% block title %}{{setting.title }}{% endblock %}
{% block keywords %}{{setting.keywords }}{% endblock %}
{% block description %}{{setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block header %}{% include "header.html" %}{% endblock %}

{% block content %}
    <section class="blog_area single-post-area section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-4">
                  <div class="blog_left_sidebar">
                      {% include "user_panel.html" %}
                  </div>
               </div>
                <div class="col-lg-8 posts-list">
                  <div class="single-post">
                     <div class="blog_details">
                        <div class="section-top-border">
                            <div class="progress-table-wrap">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <h4>Şifre Değiştirme</h4>
                                <div class="progress-table">
                                    <form method="post">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            <p>
                                                {{ field.label_tag }} <br>
                                                {{ field }}
                                                {% if field.help_text %}
                                                    <small style="color: grey">{{ field.help_text }}</small>
                                                {% endif %}
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ field.errors}} </p>
                                                {% endfor %}
                                            </p>
                                    {% endfor %}
                                    </form>
                                </div>
                            </div>
                        </div>
                         <div class="button-group-area mt-40">
                             <a href="/user" class="genric-btn danger e-large">Değişikliği Kaydet</a>
                         </div>
                     </div>
                  </div>
                </div>
            </div>
         </div>
    </section>

{% endblock %}