<aside class="single_sidebar_widget post_category_widget">
    <h2 class="widget_title">Profilim</h2><br>
    <ul class="list cat-list">
        <li>
            <a href="/" class="d-flex">
                <p>Kullanıcı Bilgilerim</p>
            </a>
        </li>
        <li>
            <a href="/user/reservation" class="d-flex">
                <p>Rezervasyonlarım</p>
            </a>
        </li>
        <li>
            <a href="#" class="d-flex">
                <p>SSS</p>
            </a>
        </li>
        <li>
            <a href="/logout" class="d-flex">
                <p>Çıkış Yap</p>
            </a>
        </li>
    </ul>
</aside>