{% extends "homebase.html" %}

{% block title %}{{setting.title }}{% endblock %}
{% block keywords %}{{setting.keywords }}{% endblock %}
{% block description %}{{setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}
{% block header %}{% include "header.html" %}{% endblock %}

{% block content %}
    <section class="blog_area single-post-area section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-4">
                  <div class="blog_left_sidebar">
                      {% include "user_panel.html" %}
                  </div>
               </div>
                <div class="col-lg-8 posts-list">
                  <div class="single-post">
                     <div class="blog_details">
                     <h4>Kullanıcı Bilgilerim</h4>
                        <div class="section-top-border">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div class="progress-table">
                                    <div class="table-head">
                                        <div class="serial">#</div>
                                        <div class="country">Ad Soyad</div>
                                        <div class="visit">Adres</div>
                                        <div class="percentage">Şehir</div>
                                    </div>
                                    <div class="table-row">
                                        <div class="serial"><img src="{{ profile.image.url }}" height="60px"></div>
                                        <div class="country">{{ profile.user_name }}</div>
                                        <div class="visit">{{ profile.address}}</div>
                                        <div class="percentage">{{ profile.city}}</div>
                                    </div>
                                </div>
                        </div>
                         <div class="button-group-area mt-40">
                             <a href="/user/update" class="genric-btn danger e-large">Profili Güncelle</a>
                         </div>
                         <div class="button-group-area mt-40">
                             <a href="/user/password" class="genric-btn danger e-large">Şifreni Değiştir</a>
                         </div>
                     </div>
                  </div>
                </div>
            </div>
         </div>
    </section>

{% endblock %}